

#root {
  max-width: 1180px;
  margin: 0 auto;
  padding: 2rem 2rem 0rem 2rem;
  text-align: center;
  color: #cdcdcd;
}

html {
  background-color: #0d0d0d ;
  font-family: 'General Sans', sans-serif;
}



/* On Load animations */

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

#particles {
  /* background-color: #0d0d0d;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; */
}